/*search box css start here*/

.jumbotron{
 background-image: url('https://st2.depositphotos.com/1720162/10456/v/950/depositphotos_104566742-stock-illustration-flat-line-design-website-banner.jpg');
 background-size: cover;
 backgroun00d-repeat: no-repeat;
 height: 600px;
}

navbar-title {
	font-family: Georgia, serif, italic;
	font-weight: light;
}
.container {
	display: flex;
}